$backgroundPrimary: white;
$backgroundSecondary: rgb(3, 45, 94);
$backgroundTernary: rgb(5, 107, 224);

$fontColorPrimary: black;
$fontColorSecondary: white;

.curriculumContent {
    height: 100%;
    background-color: $backgroundPrimary;
}

.enTete p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}
.enTete a {
    color: $fontColorSecondary !important;
    text-decoration: underline $backgroundSecondary;
}

a {
    color: $fontColorPrimary !important;
    text-decoration: underline $backgroundPrimary;
}

.avatarContainer {
    border-radius: 0% 50% 50% 0%;
    background-color: $backgroundSecondary;
}

.avatar {
    border: 5px solid $backgroundSecondary;
}

.textContainer {
    color: $fontColorSecondary !important;
}
.width10 {
    width: 15px;
    padding: 0px;
    margin: 0px;
}

.badgePill {
    background-color: $backgroundPrimary;
    color: $fontColorPrimary;
    padding: 0px 3px !important;
    margin-left: 5px;
}
.badgePillExpProf {
    background-color: rgb(207, 205, 205);
    padding-bottom: 2px;
    font-size: 70%;
    margin: auto;
    color: $fontColorPrimary;
    border: 1px solid black !important;
    color: $fontColorPrimary !important;
}

.bgdPrimary {
    background-color: $backgroundPrimary;
}

.bgdSecondary {
    background-color: $backgroundSecondary;
}

.bgdTernary {
    background-color: $backgroundTernary;
}

.profilIcon {
    border-radius: 50%;
    width: 48px;
    background-color: $backgroundPrimary;
    margin-right: 5px;
}

.title {
    background-color: $backgroundTernary;
    color: $fontColorPrimary;
    margin: 10px 0px;
    padding-left: 0px !important;
    border-radius: 0px 100px 100px 0%;
}
.titleColLeft {
    transform: translateX(-61px);
}

.leftColumn {
    background-color: $backgroundSecondary;
    // background-image: url(../../images/timber-interior-texture.jpg);
    border-radius: 0% 200px 0% 0%;
    color: $fontColorSecondary;
}

.rightColumn {
    background-color: $backgroundPrimary;
}

.compInfoIcon {
    width: 32px;
    height: 32px;
}

.expInfoIcon {
    width: 24px;
    height: 24px;
}
.expressJs {
    height: 24px;
}

@media print {
    @page {
        size: A4 portrait;
    }
}
